{% extends 'animals/base.html' %} {% load static %} {% block title %}
{{request.user}}'s profile {% endblock title %} {% block content %}
<div class="login">
  {% comment %} {% if pr.user.pk == request.user.pk and mes != 'Edit your
  profile' %} {% endcomment %}
  <form
    method="POST"
    action=""
    enctype="multipart/form-data"
    class="login_inner"
  >
    {% csrf_token %}
    <div class="login_inner__avatar">
      <label class="drop_target">
        <div class="image_preview"></div>
        {% comment %} {{form.imag}} {% endcomment %}
        <input type="file" name="imag" accept="image/*" id="inputFile" />
      </label>
    </div>
    {{form.imag.error}}
    <h1>{{mes}}</h1>
    <h1 style="color: black; font-family: 'Roboto'; font-size: 22px">
      Enter your adress(Country, County, City)
    </h1>
    {{form.adresa}} {{form.adresa.error}}
    <h1 style="color: black; font-family: 'Roboto'; font-size: 22px">
      Enter your phone number
    </h1>
    {{form.phone}} {{form.phone.error}}
    <h1 style="color: black; font-family: 'Roboto'; font-size: 22px">
      Enter your facebook url for contact
    </h1>
    {{form.media}} {{form.phone.error}}

    <input type="submit" value="Ready" />
  </form>
  <div class="login_inner__check">
    <div class="login_inner__check--complete">
      <i class="fa fa-check"></i>
    </div>
  </div>
</div>
{% comment %} {% endif %} {% endcomment %}

<script>
  var $droptarget = $(".drop_target"),
    $dropinput = $("#inputFile"),
    $dropimg = $(".image_preview"),
    $remover = $('[data-action="remove_current_image"]');

  $droptarget.on("dragover", function () {
    $droptarget.addClass("dropping");
    return false;
  });

  $droptarget.on("dragend dragleave", function () {
    $droptarget.removeClass("dropping");
    return false;
  });

  $droptarget.on("drop", function (e) {
    $droptarget.removeClass("dropping");
    $droptarget.addClass("dropped");
    $remover.removeClass("disabled");
    e.preventDefault();

    var file = e.originalEvent.dataTransfer.files[0],
      reader = new FileReader();

    reader.onload = function (event) {
      $dropimg.css("background-image", "url(" + event.target.result + ")");
    };

    reader.readAsDataURL(file);

    return false;
  });

  $droptarget.change(function (e) {
    $droptarget.addClass("dropped");
    $remover.removeClass("disabled");
    $(".image_title input").val("");

    var file = $dropinput.get(0).files[0],
      reader = new FileReader();

    reader.onload = function (event) {
      $dropimg.css("background-image", "url(" + event.target.result + ")");
    };

    reader.readAsDataURL(file);
  });

  $droptarget.on("click", function () {
    $dropimg.css("background-image", "");
    $droptarget.removeClass("dropped");
    $remover.addClass("disabled");
    $(".image_title input").val("");
  });

  $(".image_title input").blur(function () {
    if ($(this).val() != "") {
      $droptarget.removeClass("dropped");
    }
  });
</script>
{% endblock content %}
